body {
    background-color: white;
    color: #606060;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 14px;
}
a {
    color: #404040;
}
.sendbutton {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    border: 0.1px solid #404040;
}
.sendbutton:hover {
    background-color: #404040;
    color: #ffffff;
    border: 0.1px solid #ffffff;
}
.sendbutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    border: 0.1px solid #303030;
}
.profile_button {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.profile_button:hover {
    background-color: #404040;
    color: #ffffff;
}
.profile_button:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}
.postingbody {
    font-size: 1vw;
    font-weight: bold;
    color: #404040;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}
.displayingbody {
    font-size: 1vw;
    font-weight: bold;
    color: #404040;
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.postinputtextarea {
    height: 14vh;
    color: #404040;
    background-color: #ffffff;
    width: 16vw;
    border: 0.1px solid #404040;
}
.postinput {
    width: 16vw;
    color: #404040;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
select.postinput {
    width: 16.45vw;
    color: #404040;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
.charsleft {
    font-weight: normal;
    font-style: italic;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px;
  height: 16px;
  width: 16px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up:hover {
  color: #00ff00;
  border: solid #00ff00;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-width: 0 4px 4px 0;
}

.down:hover {
  color: #ff0000;
  border: solid #ff0000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0 4px 4px 0;
}

.repreading 
{
    color: #404040;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 20px;
}