body {
    background-color: white;
    color: #606060;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 1.1vw;
}
a {
    color: #ffffff;
    text-decoration-skip-ink: auto;
    text-decoration: underline overline;
    text-decoration-style:dotted;
}

a.gitlink {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #00ff00;
}

a.outlink {
    color: #000000;
    font-weight: bold;
    padding: 4px;
    font-size: 1.2vw;
    text-decoration: none;
}
a.outlink:hover {
    color: #ff0000;
    text-decoration: underline overline;
}


.pageheader {
    width: 80vw;
    margin: 0 auto;
    background-color:teal;
    color: #ffffff;
    padding: 0.5vw;
    height: 5%;
    font-size: 1.2vw;
    display: flex;
}
.sitetitle {
    color: #ffffff;
    padding: 0.5vw;
    width: 18vw;
    font-size: 1.6vw;
    font-weight: bold;
}
.pathandtitle {
    text-align: left;
    width: 36vw;

}

.topictitle {
    color: #ffffff;
    font-size: 1.3vw;
    font-weight: bold;
}

.topicpath {
    color: #ffffff;
    font-weight: bold;
    font-size: 1vw;
}
.buttonsrow {
    width: 40vw;
    float: right;
    text-align: right;
}

.pagefooter {
    width: 80vw;
    margin: 0 auto;
    background-color:teal;
    color: #ffffff;
    padding: 0.5vw;
    height: 5%;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.siteby {
    color: #ffffff;
    padding: 0.5vw;
    width: 12vw;
    font-size: 1vw;
    font-weight: bold;
}

.copyright {
    color: #ffffff;
    padding: 0.5vw;
    width: 20vw;
    font-size: 1vw;
    font-weight: bold;
}

.gitlink {
    text-align: right;
    width: 40vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 1vw;
    padding: 0.5vw;
}
.gobackbutton {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1.2vw;
    font-weight: semi-bold;
    text-decoration: none;
    border: 0.1px solid #606060;
    padding: 0.5vw;
}
.gobackbutton:hover {
    background-color: #404040;
    color: #ffffff;
}
.gobackbutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-weight: semi-bold;
    text-decoration: none;
}


.sendbutton {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
    border: 0.1px solid #404040;
}
.sendbutton:hover {
    background-color: #404040;
    color: #ffffff;
    border: 0.1px solid #ffffff;
}
.sendbutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-weight: bold;
    text-decoration: none;
    border: 0.1px solid #303030;
}
.profile_button {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.profile_button:hover {
    background-color: #404040;
    color: #ffffff;
}
.topicbutton {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: left;
    border: none;
}
.topicbutton:hover {
    background-color: #404040;
    color: #ffffff;
}
.topicbutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-weight: bold;
}

.replybutton {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 1.2vw;
    font-weight: semi-bold;
    text-decoration: none;
    border: 0.1px solid #606060;
    padding: 0.2vw;
    width: 5vw;
}
.replybutton:hover {
    background-color: #404040;
    color: #ffffff;
}
.replybutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-weight: semi-bold;
    text-decoration: none;
}


.deletebutton {
    background-color: #880000;
    color: #efefef;
    font-size: 1.2vw;
    font-weight: semi-bold;
    text-decoration: none;
    border:  0.1px solid #606060;
    padding: 0.2vw;
    width: 5vw;
}
.deletebutton:hover {
    background-color: #ff0000;
    color: #efefef;
}
.deletebutton:disabled {
    background-color: #c0c0c0;
    color: #efefef;
    font-weight: semi-bold;
    text-decoration: none;
}




label {
    font-size: 1.2vw;
    font-weight: bold;
    color: #404040;
    padding-bottom: 6px;
}
.pageparent {
    display: flex; 
    width: 80vw; 
    align-content:center;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
}
.postingbody {
    color: #404040;
    width: 16vw;
    margin: 0 auto;
    margin-right: 0.8vw;
    text-align: left;
    padding: 1vw;
    border: 0.1px solid #909090;
}
.postinputtextarea {
    height: 14vh;
    color: #404040;
    background-color: #ffffff;
    resize: none;
    font-size: 1.3vw;
    width: 12vw;
    border: 0.1px solid #404040;
}
.postinput {
    width: 12vw;
    font-size: 1.3vw;
    color: #404040;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
.signinput {
    width: 12vw;
    font-size: 1.2vw;
    color: #404040;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
.postinputtextarea:hover {
    height: 14vh;
    color: #ffffff;
    background-color: #404040;
    resize: none;
    font-size: 1.3vw;
    width: 12vw;
    border: 0.1px solid #404040;
}
.postinput:hover {
    color: #ffffff;
    background-color: #404040;
}
.signinput:hover {
    width: 12vw;
    font-size: 1.2vw;
    color: #ffffff;
    background-color: #404040;
    border: 0.1px solid #404040;
}
select.postinput {
    width: 12.45vw;
    font-size: 1.2vw;
    color: #404040;
    padding: 0.5vw;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
select.postinput:hover {
    width: 12.45vw;
    font-size: 1.2vw;
    color: #ffffff;
    background-color: #404040;
    border: 0.1px solid #404040;
}
select.postsort {
    font-size: 1.2vw;
    color: #404040;
    padding: 0.5vw;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
select.postlimit {
    font-size: 1.2vw;
    color: #404040;
    padding: 0.5vw;
    background-color: #ffffff;
    border: 0.1px solid #404040;
}
select.postsort:hover {
    font-size: 1.2vw;
    color: #ffffff;
    padding: 0.5vw;
    background-color: #404040;
    border: 0.1px solid #404040;
}
select.postlimit:hover {
    font-size: 1.2vw;
    color: #ffffff;
    padding: 0.5vw;
    background-color: #404040;
    border: 0.1px solid #404040;
}
.charsleft {
    font-weight: normal;
    font-size: 1vw;
    font-style: italic;
    float: left;
}

.account {
    font-size: 1.2vw;
}



.postwindow {
    height: 70vh;
    width: 40vw;
    overflow: auto;
    padding: 1vw;
    display: none;
}



.threadwindow {
    height: 70vh;
    width: 40vw;
    overflow: auto;
    padding: 1vw;
    display: none;
}


.postpackage {
    display: block;
    margin-bottom: 10px;
}

.loadingscreen {
    width: 100%;
    height: 20vh;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 8vh;
    font-size: 1.4vw;
    text-align: center;
    display: none;
}


.topicwindow {
    height: 70vh;
    width: 40vw;
    overflow: auto;
    padding: 1vw;
    display: block;
}

.topicpackage {
    display: block;
    margin-bottom: 10px;
}

.topiccontainer {
    border: 0.1px solid #909090;
    padding: 1vw;
    width: 36vw;
    display: flex;
    justify-content: space-between;
}
.topicdetails {
    display: block;
    width: 19vw;
}
.topicstatstitles {
    font-weight: bold;
    line-height: 1.5vw;
    font-size: 1vw;
    width: 16vw;
}
.topicstats {
    font-weight: normal;
    float: right;
    padding-left: 0.6vw;
    line-height: 1.5vw;
    font-size: 1vw;
}



.topicdescription {
    font-size: 1.1vw;
    padding: 0.4vw;
    font-weight: normal;
    font-style: italic;
}

.displayreppost {
    width: 3vw; 
    line-height: 5px;
    text-align: center; 
    vertical-align: middle;
}

.repreadingpost 
{
    color: #404040;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
}
.postslab {
    border: 0.1px solid #909090;
    padding: 1vw;
    width: 36vw;
    display: flex;
}
.postslabinner {
    margin-left: 1.2vw;
}

.postlinkpreview {
    font-size: 1vw;
    font-style: italic;
    padding: 0.2vw;
    margin-top: 6px;
    width: 30vw;
}
.postimgpreview {
    font-size: 1.2vw;
    width: 30vw;
    text-align: right;
    align-items: end;
}
.posttextpreview {
    font-size: 1.2vw;
    padding: 0.2vw;
    width: 30vw;
}


.postimg {
    width: 10vw;
}
.previewimg {
    width: 8vw;
    padding: 0;
    position: relative;
    top: -10px;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #f40006 #f3f3f3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #f3f3f3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f40006;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


.displayingbody {
    font-size: 1vw;
    width: 45vw;
    font-weight: bold;
    color: #404040;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 6px;
    border: 0.1px solid #909090;
}

.rightsidepanel {
    font-size: 1vw;
    font-weight: bold;
    color: #404040;
    width: 16vw;
    margin: 0 auto;
    margin-left: 0.8vw;
    text-align: left;
    padding: 1vw;
    border: 0.1px solid #909090;
}

.displaypost {
    display: flex; 
    align-items:flex-start;
}
.posttitle {
    font-size: 1.2vw;
    font-weight: bold;
    font-style: italic;
}
.displayreply {
    display: flex; 
    align-items:flex-start;
    margin-top: 10px;
    margin-left: 1.2vw;
}
.displayrep {
    width: 2vw; 
    text-align: center; 
    vertical-align: middle;
}
.displaypostroot {
    width: 32vw;
    margin-left: 0.8vw; 
    padding: 0.8vw; 
    border: 0.1px solid #a0a0a0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px;
  height: 14px;
  width: 14px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up:hover {
  color: #00ff00;
  border: solid #00ff00;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-width: 0 3px 3px 0;
}

.down:hover {
  color: #ff0000;
  border: solid #ff0000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0 4px 4px 0;
}

.repreading 
{
    color: #404040;
    font-weight: bold;
    font-size: 1.3vw;
    margin-top: 10px;
    line-height: 20px;
}